<div class="container">
  <div class="card active">
      <div class="card-header bg-primary text-center text-white active">
          <h1><u><strong>WELCOME TO EMPLOYEE SERVICE</strong></u></h1>
      </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark active">
  <div class="container">
  <a class="" href="#"><button class="btn-lg float-right btn btn-info active"><i class="fa fa-home"></i> Employee App</button></a>
  </div>
  <button
    class="navbar-toggler active"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="container">
        <a class="btn-lg float-right btn btn-primary" href="#" role="button" routerLink='add'>Add</a>
      </div>
      </li>
      <li class="nav-item active">
        <div class="container">
        <a class="btn-lg float-right btn btn-warning" href="#" role="button" routerLink='list'>View</a>
      </div>
      </li>
      <li class="nav-item active">
        <div class="container">
        <a class="btn-lg float-right btn btn-info" href="#" role="button" routerLink='add'>Update</a>
      </div>
      </li>
      <li class="nav-item active">
        <div class="container">
        <a class="btn-lg float-right btn btn-danger" href="#" role="button" routerLink='list'>Delete</a>
      </div>
      </li>
      <!-- Example split danger button -->
      <div class="container">
      <div class="btn-group">
        <button type="button" class="btn-lg float-right btn btn-success dropdown-toggle active" data-toggle="dropdown" aria-expanded="false">
          Employee
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" routerLink='add'>Add</a>
          <a class="dropdown-item" href="#" routerLink='list'>View</a>
          <a class="dropdown-item" href="#" routerLink='add'>Update</a>
          <a class="dropdown-item" href="#" routerLink='list'>Delete</a>
          </div>
        </div>
      </div>
    </ul>
  </div>
</nav>
<img src="https://i.ibb.co/s58JKpx/Personal-Profile-Facebook-Cover-4.png" alt="Personal-Profile-Facebook-Cover-4" border="0" />
<router-outlet></router-outlet>
